@model MemberApi.Models.Common.PagedResult<MemberApi.Models.Dtos.AuthCodeResponse>

<h2>Auth Code List</h2>

<table border="1">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.Code</td>
                <td>@item.Name</td>
                <td>@item.Desc</td>
            </tr>
        }
    </tbody>
</table>

<div>
    Page @Model.Page / @Model.TotalPages
</div>

<div>
    @if (Model.HasPrevious)
    {
        <a href="?page=@(Model.Page-1)">Prev</a>
    }

    @if (Model.HasNext)
    {
        <a href="?page=@(Model.Page+1)">Next</a>
    }
</div>
